.container h3 {
    margin: 4rem auto 0;
    width: 86%;
    max-width: 920px;
    color: var(--neutral-color);
}
.carrousel {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-auto-flow: row;
    margin: 2rem auto 4rem;
}

.carrousel > div {
    display: flex;
    position: relative;
    grid-row: 1;
    width: 100%;
    justify-content: center;
}
@media screen and (min-width: 280px) {
    .container h3 {
        width: 70%;
        font-size: 2.2rem;
        text-align: center;
        margin-bottom: 3rem;
    }
    .carrousel {
        width: 70%;
        max-width: 700px; /* 871 px */
    }
}

@media screen and (min-width: 720px) {
    .container h3 {
        font-size: 2.5rem;
        text-align: left;
        width: 86%;
        max-width: 920px;
    }
    .carrousel {
        width: 86%;
        max-width: 870px; /* 871 px */
    }
}

@media screen and (min-width: 1024px) {
    .container h3 {
        font-size: 2.5rem;
        text-align: left;
    }
    .carrousel {
        width: 86%;
    }
}