.container .line {
    grid-column: 1;
    border: 2px solid var(--secondary-color);
    width: 86%;
    max-width: 920px;
    justify-self: end;
    margin: auto;
}

.carrousel {
    display: grid;
    width: 86%;
    grid-template-columns: repeat(5, 20%);
    grid-auto-flow: row;
    max-width: 870px; /* 871 px */
}

.carrousel > div {
    display: flex;
    position: relative;
    grid-row: 1;
    width: 100%;
    justify-content: center;
}

h3 {
    margin: 3rem auto 0;
    text-align: left;
    width: 86%;
    max-width: 920px;
    color: var(--neutral-color);
    font-size: 2.5rem;
}

@media screen and (min-width: 480px) {
    .carrousel {
        margin: 2rem auto;
    }
}

@media screen and (min-width: 720px) {
    .carrousel {
        margin: 3.75rem auto;
    }
}

@media screen and (max-width: 480px) {
    .carrousel {
        margin: 1rem auto;
        grid-template-columns: 2% repeat(4, 24%) 2%;
    }
    .carrousel .cardGrid {
        width: 100%;
        height: 75%;
    }
    h3 {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 1080px) {
    h3 {
        font-size: 2.3rem;
    }
}

@media screen and (max-width: 720px) {
    h3 {
        font-size: 6vw;
    }
}