.intro {
    width: 86%;
    max-width: 920px;
    margin: 3rem auto;
}
.intro .line {
    grid-column: 1;
    border: 2px solid var(--secondary-color);
    width: 100%;
    max-width: 920px;
    justify-self: end;
    margin: 3rem auto 0;
    order: 7;
}
.intro h1 {
    color: var(--secondary-color);
}
.intro h2 {
    color: var(--primary-color-000);
}
.intro p {
    font-weight: 500;
    color: var(--neutral-color);
}
.intro p:first-of-type {
    margin: 3rem 0 1rem;
}
.intro p:last-of-type {
    margin: 1rem 0 3rem;
}
.intro .container {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
}
.intro img {
    grid-column: 1;
}
.intro .text {
    grid-column: 2;
    margin-left: 2rem;
}

@media screen and (min-width: 721px) {
    .intro h1 {
        font-size: 4rem;
    }
    .intro h2 {
        font-size: 3rem;
    }
    .intro p {
        font-size: 1rem;
    }
    .intro p:first-of-type {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 720px) {
    .intro h1 {
        font-size: 8.8vw;
    }
    .intro h2 {
        font-size: 8.1vw;
    }
    .intro p {
        font-size: 0.9rem;
    }
    .intro p:first-of-type {
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 480px) {
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .intro h1 {
        font-size: 3.2rem;
    }
    .intro h2 {
        font-size: 2rem;
    }
}