.aSection img {
    width: 100%;
    height: 100%;
    position: inherit;
    z-index: 2;
    right: 0;
    bottom: 0;
}
.aSection .niceLine {
    position: absolute;
    border: 10px solid var(--primary-color-000);
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 60%;
    height: 75%;
}
.aSection h1 {
    color: var(--secondary-color);
}
.aSection p {
    color: var(--neutral-color);
    font-weight: 450;
    text-align: justify;
}
.aSection .btnBox {
    display: flex;
    column-gap: 1rem;
}
.aSection button {
    background-color: var(--secondary-color);
    color: var(--primary-color-300);
    font-weight: bold;
    border: none;
    width: fit-content;
    height: 2.5rem;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2px;
}
.aSection .btnEmail {
    background-color: rgba(0,0,0,0);
    border: 3px solid var(--secondary-color);
    color: var(--secondary-color)
}

@media screen and (min-width: 280px) {
    .aSection {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .aSection .imgBox {
        position: relative;
        padding-left: 1rem;
        align-items: center;
        align-self: center;
        max-width: 280px;
    }
    .aSection .niceLine {
        bottom: 3.5px;
    }
    .aSection h1 {
        font-size: 3rem;
        text-align: center;
        margin: 0 2rem;
    }
    .aSection p {
        margin: 0 2rem;
        max-width: 475px;
        align-self: center;
    }
    .aSection .btnBox {
        margin: 1rem auto 3rem;
        justify-content: center;
    }
    .aSection button:active {
        background-color: var(--secondary-color-a);
    }
    .aSection .btnEmail:active {
        background-color: rgba(0,0,0,0);
        border: 3px solid var(--secondary-color-a);
        color: var(--secondary-color-a)
    }
}

@media screen and (min-width: 720px) {
    .aSection {
        width: 90%;
        max-width: 650px;
        margin: 2rem auto 4rem;
        display: grid;
        gap: 0;
        grid-template-columns: 40% 60%;
        grid-template-rows: 7;
        position: relative;
    }
    .aSection .imgBox {
        grid-column: 1;
        grid-row: 1/6;
        align-self: auto;
        max-width: none;
    }
    .aSection h1 {
        font-size: 3.5rem;
        margin: 0;
        grid-column: 2;
        grid-row: 2;
        align-self: end;
        text-align: left;
    }
    .aSection p {
        font-size: calc(14px + 0.4vw);
        padding-top: 1rem;
        margin: 0;
        max-width: none;
        align-self: auto;
    }
    .aSection p:nth-child(1n) {
        grid-column: 2;
        grid-row: 3/5;
        align-self: end;
    }
    .aSection p:nth-child(2n) {
        grid-column: 2;
        grid-row: 5/7;
        align-self: end;
    }
    .aSection p:nth-child(3) {
        grid-column: 1/3;
        grid-row: 7;
    }
    .aSection .btnBox {
        grid-column: 1;
        grid-row: 6;
        padding-top: 1rem;
        margin: 0;
        justify-content: left;
    }
}

@media screen and (min-width: 1024px) {
    .aSection {
        width: 86%;
        max-width: 920px;
        margin: 6rem auto 6rem;
        grid-template-rows: 5;
    }
    .aSection .btnBox {
        grid-column: 2;
        grid-row: 5;
        align-self: end;
    }
    .aSection button:hover {
        background-color: var(--secondary-color-h);
    }
    .aSection .btnEmail:hover {
        background-color: rgba(0,0,0,0);
        border: 3px solid var(--secondary-color-h);
        color: var(--secondary-color-h)
    }
    .aSection h1 {
        grid-column: 2;
        grid-row: 1;
        align-self: center;
    }
    .aSection p {
        font-size: 18px;
        align-self: end;
        padding-top: 1rem;
    }
    .aSection p:nth-child(1n) {
        grid-column: 2;
        grid-row: 2;
    }
    .aSection p:nth-child(2n) {
        grid-column: 2;
        grid-row: 3;
    }
    .aSection p:nth-child(3) {
        grid-column: 2;
        grid-row: 4;
    }
}
