.proj {
    display: flex;
    flex-direction: column;
}

.proj h1 {
    margin: 4rem auto 0;
    font-size: 8vw;
    color: var(--secondary-color);
}

.proj .cardBox {
    width: 100%;
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 720px) {
    .proj h1 {
        font-size: 64px;
    }
}

@media screen and (max-width: 480px) {
    .proj h1 {
        font-size: 48px;
    }
}