@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

:root {
    /* PALETA DE COLORES */
    --primary-color-300: #08080e;
    --primary-color-200: #171738;
    --primary-color-100: #62628e;
    --secondary-color: #efd780;
    --secondary-color-h: #bfac66; /* hover */
    --secondary-color-a: #8f814c; /* active */
    --neutral-color: #fff;

    /* TEXTO */
    --font-titles: 700; /* font-weight */
    --font-footer: 500;
    --font-navbar: 400;
}
